


/* ----------------------------------------------------------------------------- 
                                   ARROW BOX
  ----------------------------------------------------------------------------- */ 

#btn_up {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
  width: 100%;
}

#btn_left {
  margin-left: 0;
  margin-right: 0;
}

#btn_right {
  margin-left: 0;
  margin-right: 0;
}

#btn_down {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
}


#btn_move_up {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
  width: 100%;
}

#btn_move_left {
  margin-left: 0;
  margin-right: 0;
}

#btn_move_right {
  margin-left: 0;
  margin-right: 0;
}

#btn_move_down {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
}


#btn_swap_poles {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
}

#btn_delete_construct {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
}

/* ----------------------------------------------------------------------------- 
                                   COLLAPSIBLE INFO BOX
  ----------------------------------------------------------------------------- */ 
  
.alignleft {
  font-size: 200%;
  float: left;
}
.alignright {
  float: right;
}
.mycoll {               /* collapsible display box for info text */
  background-color: #eee; 
  padding: 20px; 
  display:none;
}
.literature_items {
  list-style-type: none;
  text-indent: -1em;
  padding-left: 1em;
  margin: 0px;
}
.info_header {
  color: blue;
  font-size: 140%;
  padding-top: 10px;
}
.info_li {
  margin-bottom: 5px;
}

.rimage {
  text-align: center
}

